<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core"
        template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="#{jsfParams.announcePortalId}" value="#{filesBean.announcementPortalId}"/>
        </f:metadata>

        <table id='filesList'>
            <thead>
            <tr>
                <th class='loc' colspan='2'><h:outputText value="Заявка  - #{filesBean.announcement.number}"/></th>
            </tr>
            <tr>
                <th class='label offset'>Имя</th>
                <th class='label'>Размер</th>
            </tr>
            </thead>
            <tbody>
            <ui:fragment rendered="#{filesBean.parentWrapper.directoryInfo ne null}">
                <tr>
                    <td>
                        <h:link styleClass="icon up" outcome="files" value="[..]" binding="#{filesBean.parentWrapper.link}">
                            <f:param name="#{jsfParams.htmlType}" value="#{filesBean.parentWrapper.directoryInfo.directoryType}"/>
                            <f:param name="#{jsfParams.announcePortalId}" value="#{filesBean.announcementPortalId}"/>
                        </h:link>
                    </td>
                    <td>--</td>
                </tr>
            </ui:fragment>
            <c:forEach items="#{filesBean.dirs}" var="dir">
                <tr>
                    <td>
                        <h:link styleClass="icon dir" outcome="files" value="#{dir.directoryInfo.name}" binding="#{dir.link}">
                            <f:param name="#{jsfParams.htmlType}" value="#{dir.directoryInfo.directoryType}"/>
                            <f:param name="#{jsfParams.announcePortalId}" value="#{filesBean.announcementPortalId}"/>
                        </h:link>
                    </td>
                    <td><h:outputText value="--"/></td>
                </tr>
            </c:forEach>
            <c:forEach items="#{filesBean.files}" var="file">
                <tr>
                    <td>
                        <h:outputLink styleClass="icon file" target="#{file.fileInfo.openInNewWindow ? '_blank' : ''}"
                                      value="#{request.contextPath}/docs/download" binding="#{file.link}">
                            <h:outputText value="#{file.fileInfo.fileName}"/>
                            <f:param name="#{jsfParams.downloadType}" value="#{file.fileInfo.downloadType}"/>
                            <f:param name="#{jsfParams.announceId}" value="#{filesBean.announcement.id}"/>
                        </h:outputLink>
                    </td>
                    <td><h:outputText value="#{file.fileInfo.fileLength}"/></td>
                </tr>
            </c:forEach>
            </tbody>
        </table>
    </ui:define>
</ui:composition>