<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        template="WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <h:form role="form">
            <div class="form-group">
                <h:outputLabel for="txtAnnouncementId">ID объявления на портале:</h:outputLabel>
                <h:inputText styleClass="form-control" id="txtAnnouncementId"
                             value="#{loadAnnouncement.portalId}"/>
            </div>

            <h:commandButton type="submit" class="btn btn-default btn-sm" value="Запросить"
                             action="#{loadAnnouncement.startLoad}"/>

            <ui:fragment rendered="#{loadAnnouncement.announcement ne null}">
                <div class="well" style="margin-top: 15px">
                    <ui:fragment rendered="#{loadAnnouncement.announcement ne null}">
                        Информация по выбранному тендеру уже имеется в базе данных. Последняя загрузка произведена
                        <h:outputText value="#{loadAnnouncement.announcement.loadTime}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText><br/>
                        Файлы конкурса доступны для скачивания по
                        <h:outputLink value="/docs#{loadAnnouncement.docsUrl}">
                            <h:outputText value="этому адресу"/>
                        </h:outputLink><br/>
                        <h:commandButton type="submit" class="btn btn-default btn-sm" value="Обновить данные"
                                         action="#{loadAnnouncement.refreshAnnounsement}"/>
                    </ui:fragment>
                </div>
            </ui:fragment>
        </h:form>
    </ui:define>
</ui:composition>