<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:cmp="http://java.sun.com/jsf/composite/components"
        xmlns:func="http://egz.inessoft.kz/functions"
        template="WEB-INF/templates/searchTemplate.xhtml">
    <ui:param name="searchType" value="announcement"/>

    <ui:define name="filter">
        <div class="form-group">
            <h:outputLabel styleClass="control-label col-md-2" for="announcementNumber" value="Номер заявки"/>
            <div class="col-md-4">
                <h:inputText id="announcementNumber" styleClass="form-control"
                             value="#{searchAnnouncementBean.filter.announcementNumber}"/>
            </div>

            <h:outputLabel styleClass="control-label col-md-2" for="announcementStatus" value="Статус заявки"/>
            <div class="col-md-4">
                <h:selectOneMenu styleClass="form-control" id="announcementStatus"
                                 value="#{searchAnnouncementBean.filter.statusId}">
                    <f:selectItem itemLabel="Не выбрано" itemValue="#{null}"/>
                    <f:selectItems value="#{searchAnnouncementBean.announcementStatuses}"/>
                </h:selectOneMenu>
            </div>
        </div>

        <div class="form-group">
            <h:outputLabel styleClass="control-label col-md-2" for="announcementName" value="Название заявки"/>
            <div class="col-md-10">
                <h:inputText id="announcementName" styleClass="form-control"
                             value="#{searchAnnouncementBean.filter.name}"/>
            </div>
        </div>

        <cmp:selectCustomer bindingCustomerId="#{searchAnnouncementBean.filter.customerId}" selectedCustomerName="#{searchAnnouncementBean.customerName}"/>

        <cmp:selectImplementer bindingImplementerId="#{searchAnnouncementBean.filter.implementerId}" selectedImplementerName="#{searchAnnouncementBean.implementerName}"/>

        <div class="form-group">
            <h:outputLabel styleClass="control-label col-md-2" for="truCode" value="Код ТРУ (начало)"/>
            <div class="col-md-10">
                <h:inputText id="truCode" styleClass="form-control" value="#{searchAnnouncementBean.filter.tru}"/>
            </div>
        </div>

        <div class="form-group">
            <h:outputLabel styleClass="control-label col-md-2" for="startPublicationDate"
                           value="Дата публикации (не ранее)"/>
            <div class="col-md-4">
                <h:inputText id="startPublicationDate" styleClass="form-control"
                             value="#{searchAnnouncementBean.filter.startPublicationDate}"
                             binding="#{startPublicationDate}">
                    <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
                </h:inputText>
            </div>

            <h:outputLabel styleClass="control-label col-md-2" for="startRecvDate" value="Прием заявок (не ранее)"/>
            <div class="col-md-4">
                <h:inputText id="startRecvDate" styleClass="form-control"
                             value="#{searchAnnouncementBean.filter.startRecvDate}"
                             binding="#{startRecvDate}">
                    <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
                </h:inputText>
            </div>
        </div>

        <div class="form-group">
            <h:outputLabel styleClass="control-label col-md-2" for="endPublicationDate"
                           value="Дата публикации (не позднее)"/>
            <div class="col-md-4">
                <h:inputText id="endPublicationDate" styleClass="form-control"
                             value="#{searchAnnouncementBean.filter.endPublicationDate}"
                             binding="#{endPublicationDate}">
                    <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
                </h:inputText>
            </div>

            <h:outputLabel styleClass="control-label col-md-2" for="endRecvDate" value="Прием заявок (не позднее)"/>
            <div class="col-md-4">
                <h:inputText id="endRecvDate" styleClass="form-control"
                             value="#{searchAnnouncementBean.filter.endRecvDate}"
                             binding="#{endRecvDate}">
                    <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
                </h:inputText>
            </div>
        </div>

        <div class="form-group">
            <h:outputLabel styleClass="control-label col-md-2" for="chkMonitoring" value="Только мониторинг"/>
            <div class="col-md-4">
                <h:selectBooleanCheckbox id="chkMonitoring" styleClass="form-control" value="#{searchAnnouncementBean.filter.monitoring}"/>
            </div>

            <div class="col-md-6">
                <h:commandButton action="#{searchAnnouncementBean.findIt}" styleClass="btn btn-default pull-right"
                                 value="Найти"/>
            </div>
        </div>
    </ui:define>

    <ui:define name="searchContent">
        <ui:fragment rendered="#{not empty(searchAnnouncementBean.announcements)}">
            <h:dataTable value="#{searchAnnouncementBean.announcements}" var="announcement"
                         styleClass="table table-striped table-bordered">
                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchAnnouncementBean.filter.sortColumn eq null or searchAnnouncementBean.filter.sortColumn ne 'AnnouncementNumber' ? null : searchAnnouncementBean.filter.asc}"
                                             action="#{searchAnnouncementBean.sortIt}" sortValue="AnnouncementNumber" sortValueTarget="#{searchAnnouncementBean.sortColumn}" text="Номер"/>
                    </f:facet>
                    <h:outputText value="#{announcement.number}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchAnnouncementBean.filter.sortColumn eq null or searchAnnouncementBean.filter.sortColumn ne 'AnnouncementName' ? null : searchAnnouncementBean.filter.asc}"
                                             action="#{searchAnnouncementBean.sortIt}" sortValue="AnnouncementName" sortValueTarget="#{searchAnnouncementBean.sortColumn}" text="Наименование"/>
                    </f:facet>
                    <h:outputText value="#{announcement.nameRu}"/><br/>
                    <h:link styleClass="small" value="Просмотр" outcome="viewAnnouncement">
                        <f:param name="#{jsfParams.announcePortalId}"
                                 value="#{announcement.portalId}"/>
                    </h:link>
                    <h:outputText value="&amp;nbsp;" escape="false"/>
                    <h:link styleClass="small" target="_blank" outcome="files">
                        <f:param name="#{jsfParams.announcePortalId}" value="#{announcement.portalId}"/>
                        Документы
                    </h:link>
                    <h:outputText value="&amp;nbsp;" escape="false"/>
                    <h:outputLink styleClass="small" target="_blank"
                                  value="#{func:getAnnouncementOriginalURL(announcement.portalId)}">
                        Портал ГЗ
                    </h:outputLink>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchAnnouncementBean.filter.sortColumn eq null or searchAnnouncementBean.filter.sortColumn ne 'AnnouncementStatus' ? null : searchAnnouncementBean.filter.asc}"
                                             action="#{searchAnnouncementBean.sortIt}" sortValue="AnnouncementStatus" sortValueTarget="#{searchAnnouncementBean.sortColumn}" text="Статус"/>
                    </f:facet>
                    <h:outputText value="#{announcement.announcementStatus.nameRu}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchAnnouncementBean.filter.sortColumn eq null or searchAnnouncementBean.filter.sortColumn ne 'PublicationDate' ? null : searchAnnouncementBean.filter.asc}"
                                             action="#{searchAnnouncementBean.sortIt}" sortValue="PublicationDate" sortValueTarget="#{searchAnnouncementBean.sortColumn}" text="Дата публикации"/>
                    </f:facet>
                    <h:outputText value="#{announcement.publicationDate}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchAnnouncementBean.filter.sortColumn eq null or searchAnnouncementBean.filter.sortColumn ne 'StartRecvTime' ? null : searchAnnouncementBean.filter.asc}"
                                             action="#{searchAnnouncementBean.sortIt}" sortValue="StartRecvTime" sortValueTarget="#{searchAnnouncementBean.sortColumn}" text="Дата начала приема заявок"/>
                    </f:facet>
                    <h:outputText value="#{announcement.startRecvTime}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchAnnouncementBean.filter.sortColumn eq null or searchAnnouncementBean.filter.sortColumn ne 'EndRecvTime' ? null : searchAnnouncementBean.filter.asc}"
                                             action="#{searchAnnouncementBean.sortIt}" sortValue="EndRecvTime" sortValueTarget="#{searchAnnouncementBean.sortColumn}" text="Дата окончания приема заявок"/>
                    </f:facet>
                    <h:outputText value="#{announcement.endRecvTime}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </h:column>
            </h:dataTable>

            <div class="text-center">
                <ul class="pagination">
                    <ui:repeat value="#{searchAnnouncementBean.pages}" var="pageNumber">
                        <li class="#{searchAnnouncementBean.currentPage eq pageNumber ? 'active' : ''}">
                            <h:commandLink value="#{pageNumber}" immediate="true">
                                <f:setPropertyActionListener value="#{pageNumber}"
                                                             target="#{searchAnnouncementBean.currentPage}"/>
                            </h:commandLink>
                        </li>
                    </ui:repeat>
                </ul>
            </div>
        </ui:fragment>

        <script type="text/javascript">
            $(function () {
                $(document.getElementById('#{startPublicationDate.clientId}')).datepicker();
                $(document.getElementById('#{endPublicationDate.clientId}')).datepicker();
                $(document.getElementById('#{startRecvDate.clientId}')).datepicker();
                $(document.getElementById('#{endRecvDate.clientId}')).datepicker();
            });
        </script>
    </ui:define>
</ui:composition>