<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:cmp="http://java.sun.com/jsf/composite/components"
        xmlns:func="http://egz.inessoft.kz/functions"
        template="WEB-INF/templates/searchTemplate.xhtml">
    <ui:param name="searchType" value="lot"/>

    <ui:define name="filter">
        <h:form styleClass="form-horizontal">

            <cmp:selectCustomer selectedCustomerName="#{searchLotBean.customerName}" bindingCustomerId="#{searchLotBean.filter.customerId}"/>

            <cmp:selectImplementer bindingImplementerId="#{searchLotBean.filter.implementerId}" selectedImplementerName="#{searchLotBean.implementerName}"/>

            <div class="form-group">
                <h:outputLabel styleClass="control-label col-md-2" for="truCode" value="Код ТРУ (начало)"/>
                <div class="col-md-10">
                    <h:inputText id="truCode" styleClass="form-control" value="#{searchLotBean.truCode}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel styleClass="control-label col-md-2" for="lotNumber" value="Номер лота"/>
                <div class="col-md-4">
                    <h:inputText id="lotNumber" styleClass="form-control" value="#{searchLotBean.filter.lotNumber}"/>
                </div>

                <h:outputLabel styleClass="control-label col-md-2" for="lotStatus" value="Статус лота"/>
                <div class="col-md-4">
                    <h:selectOneMenu styleClass="form-control" id="lotStatus" value="#{searchLotBean.filter.lotStatusId}">
                        <f:selectItem itemLabel="Не выбрано" itemValue="#{null}"/>
                        <f:selectItems value="#{searchLotBean.lotStatuses}"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel styleClass="control-label col-md-2" for="lotName" value="Название лота"/>
                <div class="col-md-10">
                    <h:inputText id="lotName" styleClass="form-control" value="#{searchLotBean.lotName}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel styleClass="control-label col-md-2" for="chkMonitoring" value="Только мониторинг"/>
                <div class="col-md-4">
                    <h:selectBooleanCheckbox id="chkMonitoring" styleClass="form-control" value="#{searchLotBean.filter.monitoring}"/>
                </div>

                <div class="col-md-6">
                    <h:commandButton action="#{searchLotBean.findIt}" styleClass="btn btn-default pull-right" value="Найти"/>
                </div>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="searchContent">
        <ui:fragment rendered="#{not empty(searchLotBean.lots)}">
            <h:dataTable value="#{searchLotBean.lots}" var="lot"
                         styleClass="table table-striped table-bordered">
                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'AnnoucementNumber' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="AnnoucementNumber" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Номер объявления"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.announcement.number}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'Customer' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="Customer" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Заказчик"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.lot.customer.nameRu}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'AnnouncementName' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="AnnouncementName" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Наименование"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.announcement.nameRu}"/><br/>
                    <h:link styleClass="small" value="Просмотр" outcome="viewAnnouncement">
                        <f:param name="#{jsfParams.announcePortalId}"
                                 value="#{lot.id.announcement.portalId}"/>
                    </h:link>
                    <h:outputText value="&amp;nbsp;" escape="false"/>
                    <h:link styleClass="small" target="_blank" outcome="files">
                        <f:param name="#{jsfParams.announcePortalId}" value="#{lot.id.announcement.portalId}"/>
                        Документы
                    </h:link>
                    <h:outputText value="&amp;nbsp;" escape="false"/>
                    <h:outputLink styleClass="small" target="_blank"
                                  value="#{func:getAnnouncementOriginalURL(lot.id.announcement.portalId)}">
                        Портал ГЗ
                    </h:outputLink>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'LotNumber' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="LotNumber" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Номер лота"/>
                    </f:facet>
                    <h:outputText value="#{lot.lotNumber}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'LotStatus' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="LotStatus" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Статус"/>
                    </f:facet>
                    <h:outputText value="#{lot.status.nameRu}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'PublicationDate' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="PublicationDate" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Дата публикации"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.announcement.publicationDate}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'StartRecvTime' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="StartRecvTime" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Дата начала приема заявок"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.announcement.startRecvTime}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'EndRecvTime' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="EndRecvTime" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Дата окончания приема заявок"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.announcement.endRecvTime}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'ShortCharacteristic' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="ShortCharacteristic" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Краткая характеристика"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.lot.shortCharacteristicRu}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'AdditionalCharacteristic' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="AdditionalCharacteristic" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Дополнительная характеристика"/>
                    </f:facet>
                    <h:outputText value="#{lot.id.lot.additionalCharacteristicRu}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <cmp:searchTabHeader sortAsc="#{searchLotBean.sortColumn eq null or searchLotBean.sortColumn ne 'Price' ? null : searchLotBean.sortOrder}"
                                             action="#{searchLotBean.switchSort}" sortValue="Price" sortValueTarget="#{searchLotBean.selectedSortColumn}" text="Бюджет"/>
                    </f:facet>
                    <cmp:outputAmount value="#{lot.id.lot.priceForUnit}"/>
                </h:column>
            </h:dataTable>

            <div class="text-center">
                <ul class="pagination">
                    <ui:repeat value="#{searchLotBean.pages}" var="pageNumber">
                        <li class="#{searchLotBean.currentPage eq pageNumber ? 'active' : ''}">
                            <h:commandLink value="#{pageNumber}" immediate="true">
                                <f:setPropertyActionListener value="#{pageNumber}"
                                                             target="#{searchLotBean.currentPage}"/>
                            </h:commandLink>
                        </li>
                    </ui:repeat>
                </ul>
            </div>
        </ui:fragment>
    </ui:define>
</ui:composition>