<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:cmp="http://java.sun.com/jsf/composite/components"
        template="WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="#{jsfParams.announcePortalId}" value="#{viewAnnounceBean.announcePortalId}"/>
        </f:metadata>

        <h2><h:outputText value="Объявление № #{viewAnnounceBean.announcement.number}"/></h2>
        <h:form>
            <table class="table table-stripped">
                <tbody>
                <tr>
                    <th class="text-right">Наименование объявления:</th>
                    <td>
                        <h:outputText value="#{viewAnnounceBean.announcement.nameRu}"/>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Статус объявления:</th>
                    <td>
                        <h:outputText value="#{viewAnnounceBean.announcement.announcementStatus.nameRu}"/>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Дата публикации объявления:</th>
                    <td>
                        <h:outputText value="#{viewAnnounceBean.announcement.publicationDate}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Дата загрузки данных:</th>
                    <td>
                        <h:outputText value="#{viewAnnounceBean.announcement.loadTime}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Мониторинг:</th>
                    <td><h:selectBooleanCheckbox value="#{viewAnnounceBean.announcement.monitoring}"/></td>
                </tr>
                <ui:repeat value="#{viewAnnounceBean.participations}" var="participation">
                    <tr>
                        <th class="text-right"><h:outputText value="Участие #{participation.company.nameRu}:"/></th>
                        <td valign="">
                            <h:selectOneRadio value="#{participation.templateId}" styleClass="radioButtons">
                                <f:selectItem itemLabel="Не участвуем" itemValue="0"/>
                                <f:selectItems value="#{participation.selectItems}"/>
                            </h:selectOneRadio>
                        </td>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
            <h:panelGroup layout="block" styleClass="alert alert-success"
                          rendered="#{viewAnnounceBean.monitoringStatus ne null}">
                <strong>Сохранено!</strong> #{viewAnnounceBean.monitoringStatus}
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="alert alert-danger"
                          rendered="#{viewAnnounceBean.errorMsg ne null}">
                <strong>Ошибка!</strong> #{viewAnnounceBean.errorMsg}
            </h:panelGroup>
            <div class="btn-group">
                <h:commandButton value="Сохранить" styleClass="btn btn-primary"
                                 action="#{viewAnnounceBean.saveMonitoringInfo}"/>
            </div>
        </h:form><br/>
        <div class="well">
            Загруженные документы по конкурсу находятся по
            <h:link target="_blank" outcome="files" value="этой ссылке">
                <f:param name="#{jsfParams.announcePortalId}" value="#{viewAnnounceBean.announcePortalId}"/>
            </h:link>.<br/>
            Для просмотра оригинального объявления пройдите по <a target="_blank"
                                                                  href="#{viewAnnounceBean.announcementOriginalURL}">этой ссылке</a>
        </div>

        <h3>Лоты</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Номер лота</th>
                <th>Заказчик</th>
                <th>Вид работ по классификатору ТРУ</th>
                <th>Дополнительная характеристика</th>
                <th>Плановая сумма</th>
                <th>Статус лота</th>
            </tr>
            </thead>
            <tbody>
            <ui:repeat value="#{viewAnnounceBean.announcement.lotCrossAnnouncements}" var="lot">
                <tr>
                    <td>
                        <h:outputText value="#{lot.lotNumber}"/>
                    </td>
                    <td>
                        <h:outputText value="#{lot.id.lot.customer.nameRu}"/>
                    </td>
                    <td>
                        <h:outputText value="#{lot.id.lot.dicTru.nameRu}"/>
                    </td>
                    <td>
                        <h:outputText value="#{lot.id.lot.additionalCharacteristicRu}"/>
                    </td>
                    <td align="right">
                        <cmp:outputAmount value="#{lot.id.lot.totalSum}"/>
                    </td>
                    <td>
                        <h:outputText value="#{lot.status.nameRu}"/>
                    </td>
                </tr>
            </ui:repeat>
            </tbody>
        </table>
    </ui:define>
</ui:composition>