<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">
<composite:interface>
    <composite:attribute name="text" required="true"/>
    <composite:attribute name="sortColumn" required="true"/>
    <composite:attribute name="rowSpan"/>
    <composite:attribute name="jsfBean" required="true" type="kz.inessoft.egz.web.jsf.dashboard.ALastNDaysModel"/>
</composite:interface>

<composite:implementation>
    <th rowspan="#{cc.attrs.rowSpan}" class="text-center" valign="middle">
        <h:link>
            <f:param name="#{jsfParams.sortBy}" value="#{cc.attrs.sortColumn}"
                     disable="#{cc.attrs.jsfBean.sortColumn eq cc.attrs.sortColumn and not cc.attrs.jsfBean.sortAsc}"/>
            <f:param name="#{jsfParams.sortAsc}"
                     value="#{cc.attrs.jsfBean.sortColumn eq cc.attrs.sortColumn ? false : true}"
                     disable="#{cc.attrs.jsfBean.sortColumn eq cc.attrs.sortColumn and not cc.attrs.jsfBean.sortAsc}"/>
            <h:outputText value="#{cc.attrs.text}"/>
            <h:outputText value="&amp;nbsp;" escape="false"/>
            <h:outputText rendered="#{cc.attrs.jsfBean.sortColumn eq cc.attrs.sortColumn}"
                          class="gliphicon #{cc.attrs.jsfBean.sortAsc ? 'glyphicon glyphicon-sort-by-attributes' : 'glyphicon glyphicon-sort-by-attributes-alt'}"/>
        </h:link>
    </th>
</composite:implementation>
</html>
