<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">
<composite:interface>
    <composite:attribute name="headerText"/>
</composite:interface>

<composite:implementation>
    <div class="modal fade" role="dialog" id="#{cc.id}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <h:outputText value="#{cc.attrs.headerText}"/>
                    </h4>
                </div>
                <composite:insertChildren/>
            </div>
        </div>
    </div>
</composite:implementation>
</html>