<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite" xmlns:f="http://java.sun.com/jsf/core">
<composite:interface>
    <composite:attribute name="value" required="true"/>
</composite:interface>

<composite:implementation>
    <h:outputText value="#{cc.attrs.value}">
        <f:convertNumber pattern="###,###,###,##0.00" locale="ru"/>
    </h:outputText>
</composite:implementation>
</html>