<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<composite:interface>
    <composite:attribute name="text" required="true"/>
    <composite:attribute name="sortValue" required="true"/>
    <composite:attribute name="sortValueTarget" required="true"/>
    <composite:attribute name="sortAsc" required="true"/>
    <composite:attribute name="action" method-signature="void action()" required="true"/>
</composite:interface>

<composite:implementation>
    <h:commandLink action="#{cc.attrs.action}">
        <f:setPropertyActionListener value="#{cc.attrs.sortValue}" target="#{cc.attrs.sortValueTarget}"/>
        <h:outputText value="#{cc.attrs.text}"/>
        <h:outputText value="&amp;nbsp;" escape="false"/>
        <h:outputText rendered="#{cc.attrs.sortAsc ne null}"
                      class="gliphicon #{cc.attrs.sortAsc ? 'glyphicon glyphicon-sort-by-attributes' : 'glyphicon glyphicon-sort-by-attributes-alt'}"/>
    </h:commandLink>
</composite:implementation>
</html>
