<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">
<composite:interface>
    <composite:attribute name="bindingImplementerId" required="true"/>
    <composite:attribute name="selectedImplementerName" required="true"/>
</composite:interface>

<composite:implementation>
    <div class="form-group" id="divImplementer">
        <h:outputLabel styleClass="control-label col-md-2" for="txtImplementer" value="Поставщик"/>
        <div class="col-md-10">
            <div class="input-group">
                <h:inputText id="txtImplementer" binding="#{txtImplementerDisabled}" styleClass="form-control"
                             disabled="true" value="#{cc.attrs.selectedImplementerName}" style="cursor: pointer"/>
                <span class="input-group-btn">
                    <button id="btnClearImplementer" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
            <h:inputHidden id="hidImplementerId" binding="#{txtImplementer}" value="#{cc.attrs.bindingImplementerId}"/>
        </div>
    </div>

    <div id="implementerModalDlgId" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Выбор поставщика</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="implementerString" style="width: 100%"/>
                    <div id="implementersList" style="overflow-x: auto"></div>
                </div>
                <div class="modal-footer">
                    <h:outputText styleClass="pull-left text-muted small"
                                  value="Вводите ИИН/БИН или часть названия поставщика"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var implementers;

        $(function () {
            $('#implementerString').on('keyup', function (event) {
                $.ajax({
                    type: 'POST',
                    url: '#{request.contextPath}/rest/implementer/find',
                    data: {
                        filter: $('#implementerString').val()
                    },
                    success: function (data) {
                        var html = '';
                        implementers = data;
                        for (var i = 0; i &lt; data.length; i++) {
                            var implementer = data[i];
                            html += '&lt;a onclick="setImplementer(' + i + ')">' + implementer.xin + ' ' + implementer.nameRu + '&lt;/a>&lt;br/>';
                        }
                        $('#implementersList').html(html);
                    }
                });
            });

            $('#btnClearImplementer').on('click', function (event) {
                event.stopPropagation();
                $(document.getElementById('#{txtImplementerDisabled.clientId}')).val('');
                $(document.getElementById('#{txtImplementer.clientId}')).val(null);
            });

            var modal = $('#implementerModalDlgId');

            modal.on('show.bs.modal', function () {
                $('#implementerString').val('');
                $('#implementersList').html('');
            });

            modal.on('shown.bs.modal', function () {
                $("#implementerString").focus();
            });

            $('#divImplementer').on('click', function () {
                $('#implementerModalDlgId').modal('show');
            });
        });

        function setImplementer(idx) {
            var implementer = implementers[idx];
            $(document.getElementById('#{txtImplementerDisabled.clientId}')).val(implementer.xin + ' ' + implementer.nameRu);
            $(document.getElementById('#{txtImplementer.clientId}')).val(implementer.id);
            $('#implementerModalDlgId').modal('hide');
        }
    </script>

    <style type="text/css">
        #implementersList a {
            white-space: nowrap;
            cursor: pointer;
        }
    </style>
</composite:implementation>
</html>