<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">
<composite:interface>
    <composite:attribute name="bindingCustomerId" required="true"/>
    <composite:attribute name="selectedCustomerName" required="true"/>
</composite:interface>

<composite:implementation>
    <div class="form-group" id="divCustomer">
        <h:outputLabel styleClass="control-label col-md-2" for="txtCustomer" value="Заказчик"/>
        <div class="col-md-10">
            <div class="input-group">
                <h:inputText id="txtCustomer" binding="#{txtCustomerDisabled}" styleClass="form-control"
                             disabled="true" value="#{cc.attrs.selectedCustomerName}" style="cursor: pointer"/>
                <span class="input-group-btn">
                    <button id="btnClearCustomer" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
            <h:inputHidden id="hidCustomerId" binding="#{txtCustomer}" value="#{cc.attrs.bindingCustomerId}"/>
        </div>
    </div>

    <div id="customerModalDlgId" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Выбор заказчика</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="customerString" style="width: 100%"/>
                    <div id="customersList" style="overflow-x: auto"></div>
                </div>
                <div class="modal-footer">
                    <h:outputText styleClass="pull-left text-muted small"
                                  value="Вводите БИН или часть названия заказчика"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var customers;

        $(function () {
            $('#customerString').on('keyup', function (event) {
                $.ajax({
                    type: 'POST',
                    url: '#{request.contextPath}/rest/customer/find',
                    data: {
                        filter: $('#customerString').val()
                    },
                    success: function (data) {
                        var html = '';
                        customers = data;
                        for (var i = 0; i &lt; data.length; i++) {
                            var customer = data[i];
                            html += '&lt;a onclick="setCustomer(' + i + ')">' + customer.bin + ' ' + customer.nameRu + '&lt;/a>&lt;br/>';
                        }
                        $('#customersList').html(html);
                    }
                });
            });

            $('#btnClearCustomer').on('click', function (event) {
                event.stopPropagation();
                $(document.getElementById('#{txtCustomerDisabled.clientId}')).val('');
                $(document.getElementById('#{txtCustomer.clientId}')).val(null);
            });

            var modal = $('#customerModalDlgId');

            modal.on('show.bs.modal', function () {
                $('#customerString').val('');
                $('#customersList').html('');
            });

            modal.on('shown.bs.modal', function () {
                $("#customerString").focus();
            });

            $('#divCustomer').on('click', function () {
                $('#customerModalDlgId').modal('show');
            });
        });

        function setCustomer(idx) {
            var customer = customers[idx];
            $(document.getElementById('#{txtCustomerDisabled.clientId}')).val(customer.bin + ' ' + customer.nameRu);
            $(document.getElementById('#{txtCustomer.clientId}')).val(customer.id);
            $('#customerModalDlgId').modal('hide');
        }
    </script>

    <style type="text/css">
        #customersList a {
            white-space: nowrap;
            cursor: pointer;
        }
    </style>
</composite:implementation>
</html>