<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="/WEB-INF/templates/main.xhtml">
    <ui:param name="selectedPage" value="Search"/>
    <ui:define name="content">
        <ul class="nav nav-tabs" style="margin-bottom: 19px;">
            <li class="#{searchType eq 'announcement' ? 'active' : ''}">
                <h:link value="Поиск объявлений" outcome="searchAnnouncement"/>
            </li>
            <li class="#{searchType eq 'lot' ? 'active' : ''}">
                <h:link value="Поиск лотов" outcome="searchLot"/>
            </li>
        </ul>

        <h:form styleClass="form-horizontal">
            <ui:insert name="filter"/>

            <ui:insert name="searchContent"/>
        </h:form>
    </ui:define>
</ui:composition>